<div class="col-sm-12 text-center">
	<button class="btn btn-success" ui-sref="autuacao.cadastrar_autuacao" ui-sref-active="menu_topo_ativo" ng-click="autuacao={}"><i class="fa fa-address-book"></i> &nbsp; Cadastro de Autuação</button>
	<button class="btn btn-success" ui-sref="autuacao.pesquisar_autuacao" ui-sref-active="menu_topo_ativo" ng-click="autuacao={}"><i class="fa fa-search"></i> &nbsp; Pesquisa de Autuação </button>	
	<button class="btn btn-success " ui-sref="relatorio.gerar_relatorio_autuacao" ui-sref-active="menu_topo_ativo" ng-click="autuacao={}"><i class="fa fa-file-text-o"></i> &nbsp; Relatório de Autuação</button>	
	
</div>