<div class="col-sm-12 text-center">
 <h3 class="title-pagina">Área Administrativa</h3>
</div>
<div class="col-sm-12 text-center">
	<button class="btn btn-success" ui-sref="admin.ativar_usuario" ui-sref-active="active"><i class="fa fa-check"></i> &nbsp; Ativar Usuário </button>
	<button class="btn btn-success" ui-sref="admin.gerar_cod_ativacao" ui-sref-active="active" ><i class="fa fa-file-text-o"></i> &nbsp; Gerar Código</button>
	<button class="btn btn-success" ui-sref="admin.consulta_cod_ativacao" ui-sref-active="active"><i class="fa fa-search"></i> &nbsp; Consultar Código</button>	
</div>